.progress-loader {
  
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .progress-loader {
    width: 220px;
    background: #ccc;
    height: 6.5px;
    border-radius: 7px;
  }
  
  .progress {
    content: '';
    width: 1px;
    height: 6.5px;
    border-radius: 7px;
    background: $main-cl;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: loading1274 2.5s ease infinite;
            animation: loading1274 2.5s ease infinite;
  }
  
  @-webkit-keyframes loading1274 {
    0% {
      width: 0%;
    }
  
    10% {
      width: 10%;
    }
  
    50% {
      width: 40%;
    }
  
    60% {
      width: 60%;
    }
  
    100% {
      width: 100%;
    }
  }
  
  @keyframes loading1274 {
    0% {
      width: 0%;
    }
  
    10% {
      width: 10%;
    }
  
    50% {
      width: 40%;
    }
  
    60% {
      width: 60%;
    }
  
    100% {
      width: 100%;
    }
  }

  .fallback {
    animation-name: fade-in-out;
    animation-duration: 5s; // Change this value to set the delay time in seconds
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }